<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Pax2Graphml</title>
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i|Droid+Sans|Oswald" rel="stylesheet">
  <link rel="stylesheet" href="css/normalize.css">

  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>
  <main class="magazine">
  <section class="text-center magazine-photo">


<span class="Header"> <div  >&nbsp;<a class="hlk" href="https://pax2graphml.genouest.org">Pax2Graphml</a> </div> </span>



    <div class="magazine-photo__wrapper">
      <h2 class="text-lowercasez magazine-photo__title">
      <span class="text-uppercasez">Pax2Graphml </span>
      </h2>
      <hr class="magazine-photo__line" />
   
 
    </div>  
  </section>
  <section class="magazine-content">



    <article class="magazine-article">


      <header class="text-center magazine-article__header">
<h2> <span class="text-uppercase">&nbsp;</span> </h2>


        <h1 class="text-lowercase magazine-article__title">
 <br>
          GraphML data banks 

        </h1>  
      </header>
 
      <div class="magazine-article__body3">
  

<div  class="contenthl">
<p>
The following GraphML files have been generated from BIOPAX using Pax2Graphml.
They can be directly used for biological regulation analysis.
</p>
</div>

      </div>  


 
      
    </article> 

<!-- -->
 

{% if show_table %}
  

<table  class="tableall">
 <tr  class="tablefields" >
 <th  >bank</th>
 <th  >GRAPHML(gz)</th>

 <th  >nodes</th>
 <th  >edges</th>
 <th  >reactions</th>
 <th  >substrats</th>
 <th  >products</th>
 <th  >activators</th>
 <th  >inhibitors</th>
 <th  >creation</th>
 <th  >size</th>     
 <th  >site</th>
 <th  >source</th>
 <th  >details</th>
     
 

 {%- for r in grows %}
    
  {% set cls = 'even' %}
  {% if loop.index % 2 !=0 %}
      {% set cls = 'odd' %}
  {% endif %}

  <tr  class="{{cls}}"  id="row{{loop.index}}" >
    <td>{{r.label}}</td>
    <td><a download href="{{r.burl}}/{{r.fname}}">GRAPHML</a></td>


    <td  align="center" >{{r.ncount}}</td>
    <td  align="center" >{{r.ecount}}</td>

   <td  align="center" >{{r.r}}</td>

    <td  align="center" >{{r.s}}</td>
    <td  align="center" >{{r.p}}</td>
    <td  align="center" >{{r.a}}</td>
    <td  align="center" >{{r.i}}</td>

    <td  align="center" >{{r.date}}</td>
    <td  align="center" >{{r.size}}</td>
      
    <td><a href="{{r.ref}}">{{r.reflab}}</a></td>
    <td><a download href="{{r.srcurl}}">{{r.srcurllab}} </a> {{r.biopax_info}}</td>
    <td valign="top">{{r.desc}}</td>
  
  </tr>
    {{ line -}}
 {% endfor %}

     

</table>

{% endif %}
<br>
<br>
<br>

Tested with the following python packages:
Pax2Graphml, graph-tool,  NetworkX, igraph.  The sizes given for gz  compressed files.
<br>
 
         {{ processedinfo }}
    
<br> 
 {{ sourceinfo }}
 
<!-- -->






  </section>  
</main>
  
  
</body>
</html>
